/* #616F8C - grey blue */
/* #2D3340 - dark blue */
/* #4AA2D9 - bright blue  */
/* #403429 - brown */
/* #F2F2F2 - white */

* {
  padding: 0;
  margin: auto, 0;
}

body {
  width: 100%;
  height: 100vh;
  background-color: #616F8C;
}




